@import "tailwindcss";
@plugin "daisyui" {
  themes: retro, black, lofi, forest, cmyk, silk, business, sunset;
}
/* 
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --bg-base-custom: var(--color-base-100);
  --font-special: var(--font-special);
} */
@theme {
  --font-special: var(--font-special), sans-serif;
  --font-heading: var(--font-heading), sans-serif;
}
