@import "tailwindcss";
@plugin "daisyui" {
  themes: retro, halloween, cupcake, retro, coffee, light, dark, bumblebee;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --bg-base-custom: var(--color-base-100);
}
